{% extends "base.html" %}
{% block content %}

<!-- slider-->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="static/images/maldives.jpg" alt="Maldives Image">
            <div class="hide-on-small-only caption center-align">
                <h3>If You Have Always Wanted To</h3>
                <h3>Plan A Dream Trip...</h3>
            </div>
        </li>
        <li>
            <img src="static/images/tower-bridge.jpg" alt="Tower Bridge Image">
            <div class="hide-on-small-only caption center-align">
                <h3>But Don't Know How To Start...</h3>
            </div>
        </li>
        <li>
            <img src="static/images/eiffel-tower.jpg" alt="Eiffel Tower Image">
            <div class="hide-on-small-only caption left-align">
                <h3>Dream Trip Planner Is Here To Help!</h3>
            </div>
        </li>
        <li>
            {% if session.user %}
            <img src="static/images/taj-mahal.jpg" alt="Taj Mahal Image">
            <div class="hide-on-small-only caption right-align">
                <h3>Start Planning Your Dream Trip NOW!</h3>
                <!-- new itinerary button -->
                <div class="row">
                    <button type="submit" class="center-align col s12 m4 offset-m4 btn-large light-blue accent-2">
                        Start Planning <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                {% else %}
                <img src="static/images/taj-mahal.jpg" alt="Taj Mahal Image">
                <div class="hide-on-small-only caption right-align">
                    <h3>Start Planning Your Dream Trip NOW!</h3>
                    <!-- registration button -->
                    <div class="row">
                        <a href="{{ url_for('register') }}" type="submit" class="hide-on-small-only register-btn center-align col s12 m4 offset-m4 btn-large light-blue
                            accent-2">
                            Register<i class="fas fa-sign-in-alt"></i>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5 class="hide-on-small-only white-text text-lighten-1 center-align">
                                Already Registered?
                                <a href="{{ url_for('login') }}" class="light-blue-text text-accent-1">Log In</a>
                            </h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
        </li>
    </ul>
</section>
<div class="container">
    <div class="row">
        <h3 class="center">Need Inspiration?...</h3>
    </div>
</div>
<!-- popular desitinations -->
<section id="popular">
    <div class="container">
        <div class="row">
            <h4 class="center"><span class="light-blue-text">Popular</span> Destinations</h4>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="static/images/bora-bora.jpg" alt="Bora Bora Image">
                        <span class="card-title">Bora Bora</span>
                    </div>
                    <div class="card-content">
                        <p>Bora Bora is a major international tourist destination, famous for its seaside (and even
                            offshore) luxury resorts.</p>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit Itinerary
                            ></a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="static/images/burj-khalifa.jpg" alt="Burj Khalifa Image">
                        <span class="card-title">Dubai</span>
                    </div>
                    <div class="card-content">
                        <p>Dubai has been called the "shopping capital of the Middle East". Dubai alone has more
                            than 70 shopping centres, including the world's largest shopping centre, Dubai Mall.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                            ></a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="static/images/louvre.jpg" alt="Louvre Image">
                        <span class="card-title">France</span>
                    </div>
                    <div class="card-content">
                        <p>The most popular tourist sites in France include: Eiffel Tower, Château
                            de Versailles, Muséum national d'Histoire naturelle, Pont du Gard
                            and Arc de Triomphe </p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                            ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- type of trip -->
<section id="popular" class="light-blue lighten-5">
    <div class="container">
        <div class="row">
            <h4 class="center">Type of <span class="light-blue-text">Trip</span></h4>
            <div class="col s12 m3 xl3">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/hong-kong.jpg" alt="Hong Kong Image">
                        <span class="card-title">City</span>
                    </div>
                    <div class="card-content">
                        <p>Take in the distinctive architecture and explore the diverse arts and culinary scenes in
                            Europe’s cities. Explore New York’s renowned shopping avenues or the Middle East’s exotic
                            souks. City break possibilities are endless.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('city') }}">See More
                            ></a>
                    </div>
                </div>
            </div>

            <div class="col s12 m3 xl3">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/maldives.jpg" alt="Maldives Image">
                        <span class="card-title">Beach</span>
                    </div>
                    <div class="card-content">
                        <p>from glistening infinity pools with coastal views, to private cabanas on white sands, you can
                            simply relax.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('beach') }}">See More
                            ></a>
                    </div>
                </div>
            </div>

            <div class="col s12 m3 xl3">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/family.jpg" alt="Family Image">
                        <span class="card-title">Family</span>
                    </div>
                    <div class="card-content">
                        <p>Understanding the needs for a family holiday can be complex. Plan your activities, sports and
                            kids clubs, to keep your little treasures entertained.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('family') }}">See More
                            ></a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3 xl3">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/ski-resort.jpg" alt="Ski Resort Image">
                        <span class="card-title">Ski</span>
                    </div>
                    <div class="card-content">
                        <p>Whether your ideal trip is a ski-in ski-out retreat, or a ski hotel with a spa to relax in
                            after adventurous days on the piste – plan it with us</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('ski') }}">See More
                            ></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}