{% extends "base.html" %}
{% block content %}

<h3 class="center-align light-blue-text text-accent-2">
    Add Itinerary
</h3>
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_itinerary') }}">

        <div class="row">
            <!-- trip name -->
            <div class="row">
                <div class="input-field col s4 offset-m4">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-accent-2"></i>
                    <input id="trip_name" name="trip_name" minlength="5" maxlength="50" type="text" class="validate"
                        required>
                    <label for="trip_name">Trip Name</label>
                </div>
            </div>
            <!-- datepicker -->
            <div class="row">
                <div class="input-field col s4 offset-m4">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-accent-2"></i>
                    <input id="date" name="date" type="text" class="datepicker validate" required>
                    <label for="date">Date</label>
                </div>
                <!-- select country -->
                <div class="input-field col s4 offset-m4">
                    <div class="input-field col s12">
                        <i class="fas fa-globe-africa prefix light-blue-text text-accent-2"></i>
                        <select id="countries" name="countries" class="validate" required>
                            <option value="" selected>Choose Country</option>
                            {% for country in countries %}
                            <option value="{{ country.name }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="countries">Country</label>
                    </div>
                </div>
                <!-- select city -->
                <div class="input-field col s4 offset-m4">
                    <div class="input-field col s12">
                        <i class="fas fa-city prefix light-blue-text text-accent-2"></i>
                        <select id="cities" name="cities" class="validate" required>
                            <option value="" selected>Choose City</option>
                            {% for city in cities %}
                            <option value="{{ city.name}}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="cities">City</label>
                    </div>
                </div>
                <!-- select type of trip -->
                <div class="input-field col s4 offset-m4">
                    <div class="input-field col s12">
                        <i class="fas fa-suitcase prefix light-blue-text text-accent-2"></i>
                        <select id="categories" name="categories" class="validate" required>
                            <option value="" selected>Choose Trip Type</option>
                            {% for category in categories %}
                            <option value="{{ category.trip_type }}">{{ category.trip_type }}</option>
                            {% endfor %}
                        </select>
                        <label for="categories">Trip Type</label>
                    </div>
                </div>
            </div>
            <!-- itinerary item card -->
            <div id="card_p" class="container">
                <!-- activity name -->
                <div id="card_c" class="row">
                    <div class="card-panel col s12 m6 offset-m3">
                        <div class="first_itinerary_card">
                            <div class="row">
                                <div class="input-field col s6 col s10 offset-m1 offset-m1">
                                    <i class="fas fa-pencil-alt prefix light-blue-text text-accent-2"></i>
                                    <input id="activity_name" name="activity_name" minlength="5" maxlength="50"
                                        type="text" class="validate" required>
                                    <label for="activity_name">Activity Name</label>
                                </div>
                            </div>
                            <!-- day -->
                            <div class="input-field col s3 offset-m1">
                                <i class="fas fa-calendar-day prefix light-blue-text text-accent-2"></i>
                                <input id="day" name="day" type="number" min="1" class="validate" required>
                                <label for="day">Day</label>
                            </div>
                            <!-- timepicker -->
                            <div class="input-field col s3">
                                <i class="fas fa-clock prefix light-blue-text text-accent-2"></i>
                                <input id="time" name="time" type="text" class="timepicker validate" required>
                                <label for="time">Time</label>
                            </div>
                            <!-- duration of itinerary item -->
                            <div class="input-field col s3">
                                <i class="fas fa-stopwatch prefix light-blue-text text-accent-2"></i>
                                <input id="duration" name="duration" type="number" step="10" min="0" class="validate"
                                    required>
                                <label for="duration">Duration(Minutes)</label>
                            </div>
                            <!-- itinerary item description -->
                            <div class="row">
                                <div class="input-field col s10 offset-m1 offset-m1">
                                    <i class="fas fa-align-left prefix light-blue-text text-accent-2"></i>
                                    <textarea id="item_description" name="item_description" minlength="5"
                                        maxlength="200" class="materialize-textarea validate" required></textarea>
                                    <label for="item_description">Description</label>
                                    <a class="btn-floating btn-large right waves-effect waves-light red activator"
                                        onclick="duplicate();"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="center-align col s4 offset-m4">
                    <button type="submit" class="btn-large light-blue darken-1">
                        Add Itinerary <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
    </form>
</div>

{% endblock %}