{% extends "base.html" %}
{% block content %}

<!-- slider-->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="static/images/maldives.jpg">
            <div class="hide-on-small-only caption center-align">
                <h3>If You Have Always Wanted To</h3>
                <h3>Plan A Dream Trip...</h3>
            </div>
        </li>
        <li>
            <img src="static/images/tower-bridge.jpg">
            <div class="hide-on-small-only caption center-align">
                <h3>But Don't Know How To Start...</h3>
            </div>
        </li>
        <li>
            <img src="static/images/eiffel-tower.jpg">
            <div class="hide-on-small-only caption left-align">
                <h3>Dream Trip Planner Is Here To Help!</h3>
            </div>
        </li>
        <li>
            {% if session.user %}
            <img src="static/images/taj-mahal.jpg">
            <div class="hide-on-small-only caption right-align">
                <h3>Start Planning Your Dream Trip NOW!</h3>
                <!-- new itinerary button -->
                <div class="row">
                    <button type="submit" class="center-align col s12 m4 offset-m4 btn-large light-blue accent-2">
                        Start Planning <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                {% else %}
                <img src="static/images/taj-mahal.jpg">
                <div class="hide-on-small-only caption right-align">
                    <h3>Start Planning Your Dream Trip NOW!</h3>
                    <!-- registration button -->
                    <div class="row">
                        <a href="{{ url_for('register') }}" type="submit" class="hide-on-small-only register-btn center-align col s12 m4 offset-m4 btn-large light-blue
                            accent-2">
                            Register<i class="fas fa-sign-in-alt"></i>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5 class="hide-on-small-only white-text text-lighten-1 center-align">
                                Already Registered?
                                <a href="{{ url_for('login') }}" class="light-blue-text text-accent-1">Log In</a>
                            </h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
        </li>
    </ul>
</section>
<div class="container">
    <div class="row">
        <h3 class="center">City<span class="light-blue-text">Trips</span></h3>
    </div>
</div>

<!-- type of trip -->
<section id="city" class="light-blue lighten-5">
    <div class="center container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/sydney.jpg">
                        <span class="card-title">Sydney</span>
                    </div>
                    <div class="card-content">
                        <p>Sydney offers an urban mix of rich history and contemporary buzz, but with a distinctly
                            Australian spirit. Take the clifftop coastal walk from Bondi to Coogee, where you’ll pass by
                            beaches, rock pools, and lush parks. Then there’s the marvellous Sydney Opera House—jutting
                            up like a great origami sailboat—anchoring the city’s iconic harbour.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/london.jpg">
                        <span class="card-title">London</span>
                    </div>
                    <div class="card-content">
                        <p>Stroll alongside the pastel-coloured houses of Notting Hill and roam the green spaces of
                            Kensington Gardens. Warm up and fuel your curiosities at the Science Museum, then womble
                            down the road to explore the captivating Natural History Museum. Visit the striking Tower of
                            London and Westminster Abbey, before heading to the top of The Shard for captivating views
                            of the city – then walk across London Bridge and head up 35 floors for a drink with a view
                            at Sky Garden.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/louvre.jpg">
                        <span class="card-title">Paris</span>
                    </div>
                    <div class="card-content">
                        <p>Much of Paris is simply unmissable. The Eiffel Tower, the River Seine, the Arc de Triomph,
                            the Palace of Versailles and Notre Dame – plus museums like the Musée d'Orsay and the Louvre
                            – find their way onto most top 10 lists. </p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}