{% extends "base.html" %}
{% block content %}

<!-- slider-->
<section class="slider light-blue lighten-5">
    <ul class="slides">
        <li>
            <img src="static/images/maldives.jpg" alt="Maldives Image">
            <div class="hide-on-small-only caption center-align">
                <h3>If You Have Always Wanted To</h3>
                <h3>Plan A Dream Trip...</h3>
            </div>
        </li>
        <li>
            <img src="static/images/tower-bridge.jpg" alt="Tower Bridge Image">
            <div class="hide-on-small-only caption center-align">
                <h3>But Don't Know How To Start...</h3>
            </div>
        </li>
        <li>
            <img src="static/images/eiffel-tower.jpg" alt="Eiffel Tower Image">
            <div class="hide-on-small-only caption left-align">
                <h3>Dream Trip Planner Is Here To Help!</h3>
            </div>
        </li>
        <li>
            {% if session.user %}
            <img src="static/images/taj-mahal.jpg" alt="Cancun Image">
            <div class="hide-on-small-only caption right-align">
                <h3>Start Planning Your Dream Trip NOW!</h3>
            </div>

            <!-- new itinerary button -->
            <div class="row">
                <button type="submit" class="center-align col s12 m4 offset-m4 btn-large light-blue accent-2">
                    Start Planning <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </li>
        <li>
            {% else %}
            <img src="static/images/taj-mahal.jpg" alt="Taj Mahal Image">
            <div class="hide-on-small-only caption right-align">
                <h3>Start Planning Your Dream Trip NOW!</h3>
            </div>
        </li>
    </ul>
</section>
<section class="light-blue lighten-5">
    <br>
    <!-- registration button -->
    <div class="row">
        <a href="{{ url_for('register') }}" class="hide-on-small-only register-btn center-align col s12 m4 offset-m4 btn-large light-blue
                            accent-2">
            Register<i class="fas fa-sign-in-alt"></i>
        </a>
    </div>
    <div class="row">
        <div class="col s12">
            <h6 class="hide-on-small-only center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="light-blue-text text-accent-4">Log In</a>
            </h6>
        </div>
        {% endif %}
    </div>
    <hr>
</section>
<div class="container">
    <div class="row">
        <h3 class="center">Family <span class="light-blue-text">Trips</span></h3>
    </div>
</div>

<!-- type of trip -->
<section id="family" class="light-blue lighten-5">
    <div class="container">
        <div class="section_row row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/santorini.jpg" alt="Santorini Image">
                        <span class="card-title">Santorini</span>
                    </div>
                    <div class="card-content">
                        <p>Santorini offers a combination of picturesque white-washed architecture, idyllic volcanic
                            beaches and delightful hilltop hamlets. But as much as the island will entice you with its
                            beauty and charm, the list of things to do will surpass every expectation.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">New
                            Itinerary
                        </a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                        </a>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/thailand.jpg" alt="Thailand Image">
                        <span class="card-title">Thailand</span>
                    </div>
                    <div class="card-content">
                        <p>Tantalising Thailand is a gem for exploration. From the jungles and mountains of the north,
                            to the utopian beaches and castaway islands of the south. Discover captivating wildlife,
                            paradise beaches created for the perfect holiday and inspiring culture. Visit spiritual
                            temples, meet humble and happy locals and wander as many street markets as you can.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">New
                            Itinerary
                        </a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                        </a>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/disney.jpg" alt="Disney Image">
                        <span class="card-title">Orlando</span>
                    </div>
                    <div class="card-content">
                        <p>Visit Orlando – a hub bursting with ultimate experiences for thrill-seekers and Disney-loving
                            Instagrammers. Ride rocketing rollercoasters, slide around at water parks and discover
                            utterly epic theme parks. Get lost in Orlando’s premium outlet malls, visit the Kennedy
                            Space Centre or take a drive out to the beaches. </p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">New
                            Itinerary
                        </a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                        </a>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}