{% extends "base.html" %}
{% block content %}

<!-- slider-->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="static/images/maldives.jpg" alt="Maldives Image">
            <div class="hide-on-small-only caption center-align">
                <h3>If You Have Always Wanted To</h3>
                <h3>Plan A Dream Trip...</h3>
            </div>
        </li>
        <li>
            <img src="static/images/tower-bridge.jpg" alt="Tower Bridge Image">
            <div class="hide-on-small-only caption center-align">
                <h3>But Don't Know How To Start...</h3>
            </div>
        </li>
        <li>
            <img src="static/images/eiffel-tower.jpg" alt="Eiffel Tower Image">
            <div class="hide-on-small-only caption left-align">
                <h3>Dream Trip Planner Is Here To Help!</h3>
            </div>
        </li>
        <li>
            {% if session.user %}
            <img src="static/images/taj-mahal.jpg" alt="Taj Mahal Image">
            <div class="hide-on-small-only caption right-align">
                <h3>Start Planning Your Dream Trip NOW!</h3>
                <!-- new itinerary button -->
                <div class="row">
                    <button type="submit" class="center-align col s12 m4 offset-m4 btn-large light-blue accent-2">
                        Start Planning <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                {% else %}
                <img src="static/images/taj-mahal.jpg" alt="Taj Mahal Image">
                <div class="hide-on-small-only caption right-align">
                    <h3>Start Planning Your Dream Trip NOW!</h3>
                    <!-- registration button -->
                    <div class="row">
                        <a href="{{ url_for('register') }}" type="submit" class="hide-on-small-only register-btn center-align col s12 m4 offset-m4 btn-large light-blue
                            accent-2">
                            Register<i class="fas fa-sign-in-alt"></i>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5 class="hide-on-small-only white-text text-lighten-1 center-align">
                                Already Registered?
                                <a href="{{ url_for('login') }}" class="light-blue-text text-accent-1">Log In</a>
                            </h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
        </li>
    </ul>
</section>
<div class="container">
    <div class="row">
        <h3 class="center">Ski <span class="light-blue-text">Trips</span></h3>
    </div>
</div>

<!-- type of trip -->
<section id="ski" class="light-blue lighten-5">
    <div class="center container">
        <div class="section_row row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/canada.jpg" alt="Canada Image">
                        <span class="card-title">Canada</span>
                    </div>
                    <div class="card-content">
                        <p>Whether you’re looking for a legendary ski trip or
                            incredible hiking trails across captivating scenery, Whistler is a top-notch choice for your
                            next holiday.Discover the perfect seasonal alpine town, where the ski season flows into
                            spring and summertime activities ride into autumn. </p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                            ></a>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/ski.jpg" alt="Austrian Ski Image">
                        <span class="card-title">Austria</span>
                    </div>
                    <div class="card-content">
                        <p>Play in this vast Austrian ski area – soak up the pistes and powder. With its tree-scattered
                            alpine trails, glistening snow and a variety of terrain, Innsbruck offers a mixture of epic
                            ski areas. When your ski legs are weary, make a move to a friendly après bar for beer and
                            live music.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                            ></a>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="trip-type" src="static/images/bulgaria.jpg" alt="Bulgarian Ski Image">
                        <span class="card-title">Bulgaria</span>
                    </div>
                    <div class="card-content">
                        <p>Bulgaria’s biggest ski resort is easy to get about and is ideal for first-timers and
                            intermediates. Carve down pistes by forest ridges and soak up the beauty of Pirin National
                            Park. Enjoy good food and lively bars in this charming town.</p>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('add_itinerary') }}">Start New
                            Itinerary
                            ></a>
                    </div>
                    <div class=" card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_itinerarys') }}">Edit
                            Itinerary
                            ></a>
                    </div>
                    <div class="card-action">
                        <a class="light-blue-text text-accent-3" href="{{ url_for('get_destinations_info') }}"><i
                                class="fas fa-angle-left"></i> Back to
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}