{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-accent-2">
                {{ user.first }}'s Profile
            </h3>

            <p>Username: {{ user.username }}</p>
            <p>First Name: {{ user.first }}</p>
            <p>Last Name: {{ user.last }}</p>
            <p>Created: {{ user.date_created }}</p>


            <h3 class="center-align light-blue-text text-accent-2">
                My Itineraries
            </h3>
            <ul class="collapsible">
                {% for item in itinerarys %}
                {% if session.user|lower == item.created_by|lower %}
                <li><a href="{{ url_for('get_itinerarys') }}">
                        <div class="collapsible-header white-text light-blue accent-2 ">
                            {{ item.trip_name }}: {{ item.date }}
                        </div>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}