{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-accent-2">
                {{ username }}'s Profile
            </h3>

            <p>Username: {{ username }}</p>
            <p>First Name: {{ first }}</p>
            <p>Last Name: {{ last }}</p>
            <p>Date Created: {{ date_created }}</p>
            {% if session["user"].last_seen %}<p>Last Login: {{ session["user"].last_seen }}</p> {% endif %}

            <ul class="collapsible">
                {% for item in itinerarys %}
                <li><a href="{{ url_for('get_itinerarys') }}">
                        <div class="collapsible-header white-text light-blue accent-2 ">
                            Itinerary {{ item.order }} {{ item.name }}: {{ item.date }}

                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}