{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 offset-m2">
        <ul class="container collapsible popout">
            <h3 class="center light-blue-text text-accent-2">
                Itineraries
            </h3>
            {% for item in itinerarys %}
            <li>
                <div class="collapsible-header center white-text light-blue accent-2">
                    <div class="col ">
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <strong>{{ item.trip_name }}</strong>: {{ item.date }}
                    <div class="col offset-m6">
                        <a href="{{ url_for('edit_itinerary', itinerary_id=item._id)}}"
                            class="btn-small red darken-1">Edit</a>
                        <a href="" class="btn-small green accent-4">Done</a>
                    </div>
                </div>
                <div class="collapsible-body">
                    <p><strong>Day No.:</strong> {{ item.day }}</p>
                    <p><strong>Time:</strong> {{ item.time }}</p>
                    <p><strong>Duration:</strong> {{ item.duration }}</p>
                    <p><strong>Trip Type: </strong>{{ item.trip_type }}</p>
                    <p><strong>Country: </strong>{{ item.country }}</p>
                    <p><strong>City: </strong>{{ item.city }}</p>
                    <p><strong>Activity Name: </strong>{{ item.activity_name }}</p>
                    <p><strong>Description: </strong>{{ item.item_description }}</p>
                    <p><em>By: {{ item.created_by }}</em></p>
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}