{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 offset-m2">
        <ul class="container collapsible popout">
            <h3 class="center light-blue-text text-accent-2">
                Itineraries
            </h3>
            {% for item in itinerarys %}
            <li>
                <div class="collapsible-header center white-text light-blue accent-2 ">
                    <strong>{{ item.item_name }}</strong>: {{ item.date }}
                </div>
                <div class="collapsible-body">
                    <p><strong>Item No.:</strong> {{ item.order }}</p>
                    <p><strong>Time:</strong> {{ item.time}}</p>
                    <p><strong>Country: </strong>{{ item.country }}</p>
                    <p><strong>Location: </strong>{{ item.holiday_type }}</p>
                    <p><strong>Notes: </strong>{{ item.item_description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}